<!DOCTYPE html>
<html>
    <input id='usernameInput' placeholder="Please enter your Username"/>
    <button onclick="login()">Login</button>
    <script>
        function login() {
            const username = document.getElementById('usernameInput').value;
            if(username.length > 0) {
                localStorage.setItem('username',username);
                window.Location.href = '/';
            } else {
                alert("Please enter a username");
            }
        }
    </script>
</html>